.lo_cover{
  height: 250px;
  padding: 40px;
  background-repeat: no-repeat;
  background-size: contain;
  background-image: linear-gradient(to right top, #372605, #37491d, #056d53, #008ea0, #12a6eb);;
  /* background-image: url('https://cpcontents.adobe.com/public/account/118427/banners/courses/6162521/2024-02-14%2015:15:01.377Healthy-New-Year-Innate.jpg'); */
}
.lo_cover h2{
  text-shadow: 2px 2px 5px rgba(0,0,0,0.3), 
    0px -4px 10px rgba(255,255,255,0.3);
    font-weight: bold;
}
.lopage-wrapper{
max-width: 100% !important;
}
.lopage-container{
  padding: 0 !important;
}


/* course tabs */
#courseTab li{
  color: #000 !important;
  font-weight: bolder !important;
  font-size: 13px !important;
  border: none !important;
  border-bottom: 2px solid #00A4EF !important;
}
#courseTab li button{
  color: #000 !important;
  font-weight: bolder !important;
  font-size: 18px !important;
  border: none !important;
}
#courseTab .active{
  color: #000 !important;
  border-bottom: 2px solid #00A4EF !important;
}
#courseTab li:hover,#courseTab li button:hover{
  background: #fff !important;
  
}



/* modules */
.main_modules{
  list-style-type: none;
  padding: 0;
}
.main_modules li{
  border-bottom: 1px solid #ddd;
  padding: 10px 2px;
  display: flex !important;
  cursor: pointer;
}
.main_modules li img{
  width: 50px;
  margin-right: 10px;
}
.main_modules li:last-child{
  border-bottom: none
}
.main_modules h2{
  font-size: 15px;
}
.main_modules li div{
  width: 100%;
}
.main_modules p{
  font-size: 12px;
  color: #333;
}
.main_enroll_btn{
  width: 100%;
  padding: 10px 20px;
  border-radius: 20px;
}











.catalog .carousel_main {
  max-width: 100rem;
}
.carousel_main {
  max-width: 100rem;
  height: 35rem;
  margin: 0 auto;
  position: relative;
  overflow-x: hidden;
}

.catalog-container {
  padding: 64px 32px;
}

.slideapi {
  position: absolute;
  top: 0;
  width: 100%;

  display: flex;
  align-items: center;
  justify-content: center;

  /* THIS creates the animation! */
  transition: transform 1s;
}
.slider__btn {
  position: absolute;
  top: 50%;
  z-index: 10;
  border: none;
  background: rgba(255, 255, 255, 0.7);
  font-family: inherit;
  color: #333;
  border-radius: 50%;
  height: 5.5rem;
  width: 5.5rem;
  font-size: 3.25rem;
  cursor: pointer;
}

.slider__btn--left {
  left: 6%;
  transform: translate(-76%, -118%);
}

.slider__btn--right {
  right: 6%;
  transform: translate(50%, -118%);
}
.slideapi img {
  /* Only for images that have different size than slide */
  width: 1200px;
  height: 500px;
}
button {
  padding: 0px 16px;
  margin: 0px;
}
.slideapi > div {
  position: relative;
}
.img-txt {
  position: absolute;
  font-size: 37px;
  font-weight: 1000;
  font-style: unset;
  bottom: 50px;
  left: 5%;
  right: 50px;
  background: #000;
  color: #fff;
  padding: 20px;
  width: 85%;
  border-radius: 50px;
  filter: brightness(80%);
  text-align: center;
}



/* cards */
.card-item{
  overflow: hidden;
  border: 1px solid grey;
  border-radius: 10px;
}
.catalog > ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(278px, 1fr));
  grid-gap: 16px;
}



.catalog > ul > li {
  border: 1px solid var(--dark-color);
  background-color: var(--background-color);
}

.catalog .cards-card-body {
  margin: 16px;
}

.catalog .cards-card-image {
  line-height: 0;
}

.catalog .cards-card-body > *:first-child {
  margin-top: 0;
}

.catalog > ul > li img {
  width: 100%;
  aspect-ratio: 4 / 3;
  object-fit: cover;
}

.slideapi img{
  filter: brightness(80%);
}
/* list */
.list_catalog ul{
  list-style: none;
  margin: 0;
  padding: 0;
  display: block;
}
.list_catalog > ul > li {
  padding: 20px;

}
.list_catalog li {
  display: flex;
  margin-bottom: 20px;
}
.list_catalog .item .item-image img{
  width: 250px;
  margin-right: 20px;
}
.list_catalog .item .item-body{
  flex: 1;
  text-align: left;
}

.list_catalog .item-title {
  font-size: 20px;
  line-height: 1.2;
  font-weight: 700;
  margin-top: 0;
}

.list_catalog .item-text {
  margin-top: 0;
  font-size: 16px;
  color: rgb(40, 60, 96);
  line-height: 1.4;
  overflow: hidden;
   display: -webkit-box;
   -webkit-line-clamp: 4; /* number of lines to show */
           line-clamp: 4; 
   -webkit-box-orient: vertical;
}

.list_catalog li,.list_catalog p {
line-height: 200%
}

@media (min-width: 900px) {
  .list_catalog {
 max-width: 600px;
}
}
@media (min-width: 1200px) {
  .list_catalog {
  max-width: 1140px;
}

}

.list_catalog > div > div > :first-child {
margin-top: 0;
}

.list_catalog > div > div > :last-child {
margin-bottom: 0;
}