/* add global styles that can be loaded post LCP here */

body{
    background-image: url("bg-full-screen-dark-9512f087.png");
    background-size: cover;
    background-blend-mode: normal;
    /* background-blend-mode: luminosity; */
}